{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ username }}</h2>

    <div class="user-follow">
        Followers: {{ followers }}  Following: {{ following }}
    </div>

    <div class="user-buttons">
        {% if is_auth and not owner %}
        <form action="{% url "follow" username %}" method="post">
            {% csrf_token %}
            {% if is_following %}
                <input type="submit" value="Unfollow">
            {% else %}
                <input type="submit" value="Follow">
            {% endif %}
        </form>
        {% endif %}
    </div>

    <hr>

    {% include "network/postlist.html" with posts=posts %}
{% endblock %}