{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ username }}</h2>

    <div class="user-follow">
        Followers: {{ followers }}  Following: {{ following }}
    </div>

    <div class="user-buttons">
        {% if is_auth and not owner %}
        <form action="{% url "follow" username %}" method="post">
            {% csrf_token %}
            {% if is_following %}
                <input type="submit" value="Unfollow">
            {% else %}
                <input type="submit" value="Follow">
            {% endif %}
        </form>
        {% endif %}
    </div>

    <hr>

    <div class="posts">
        {% for post in posts reversed %}
        <li>
            <div class="post-username">
                <a href="{% url "user" post.poster %}"><b>{{ post.poster }}</b></a>
            </div>
            <div class="post-content">
                {{ post.content }}
            </div>
            <div class="post-timestamp">
                {{ post.timestamp|date:"d M Y, G:i:s" }}
            </div>
            <div class="post-likes">
                Likes: {{ post.like_count }}
            </div>
        </li>
        {% endfor %}
    </div>
    
{% endblock %}